{% extends 'base.html' %}

{% block title %}
Про цей сайт
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Ласкаво просимо на наш веб-сайт!</h1>

    <p>
        Наш сайт пропонує ряд корисних функціональностей для наших користувачів. Ось декілька ключових можливостей:
    </p>

    <h3>Реєстрація та Логін</h3>
    <p>
        Ви можете зареєструватися та увійти на наш сайт для отримання персонального доступу до різноманітних сервісів.
    </p>

    <h3>Особистий кабінет</h3>
    <p>
        Після входу в свій особистий кабінет, ви матимете можливість налаштувати свій профіль та переглядати статистику.
    </p>

    <h3>Створення свого сайту</h3>
    <p>
        Наш веб-сайт надає можливість створення власного сайту. Ви можете налаштовувати його вигляд та додавати контент зручним для вас способом.
    </p>

    <h3>Міні проксі-сервер</h3>
    <p>
        Наш сервіс включає у себе міні проксі-сервер, який дозволяє вам безпечно переглядати веб-ресурси через наш сайт.
    </p>

    <h3>Рахування кількості переходів</h3>
    <p>
        Для кожного створеного вами сайту ми надаємо статистику щодо кількості переходів. Ви можете відстежувати, наскільки популярний став ваш контент.
    </p>

    <p class="mt-4">
        Безкоштовно приєднуйтеся до нашого веб-сайту та користуйтеся усіма перевагами, які ми пропонуємо!
    </p>
</div>
{% endblock %}