{% extends 'base.html' %}

{% block title %}
Особистий кабінет
{% endblock %}


{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Особиста кабінет</h3>
                    <p class="card-text">Привіт, {{ user }} {{ user.last_name }}</p>
                    <br>

                    <div class="card-content">
                        <a href="{% url 'update' user.pk %}">Редагувати</a>
                        <a href="{% url 'create' %}" style="margin-left: 20px">Створити сайт</a>
                    </div>
                </div>
            </div>

            <div class="container mt-5">
                <div class="row" style="flex-direction: row; align-items: flex-start; flex-wrap: nowrap">

                    <!-- Частина "Статистика" -->
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Статистика</h3>
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Кількість переходів
                                    <span class="badge bg-primary">42</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Обʼєм даних
                                    <span class="badge bg-primary">65</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card" style="margin-left: 50px">
                        <div class="card-body">
                            <h2>Власні сайти</h2>
                            <ul class="list-group">
                                {% if sites %}
                                {% for item in sites %}
                                <li class="list-group-item"><b>Посилання</b>: <a
                                        href="{% url 'proxy_detail_view' site_url=item.site_url path='home' %}">
                                    {{ item.site_url }}</a><br><b>Назва</b>:
                                    {{ item.site_name }}
                                </li>
                                {% endfor %}
                                {% else %}
                                <p class="card-text">Не створено</p>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    {% endblock %}
